:root {
    --color-brand-white: #e9e7e2;
    --color-brand-gray: #141a1f;
    --color-brand-gray-light: #1a2026;
    --color-brand-orange: #ddac3c;
    --color-faded-text: #7e8c9a;

    --background: var(--color-brand-gray);
    --foreground: var(--color-brand-white);
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
