:root {
    --color-brand-white: #e9e7e2;
    --color-brand-gray: #141a1f;
    --color-brand-gray-light: #1a2026;
    --color-brand-orange: #ddac3c;
    --color-darker-brand-orange: #b88424;
    --color-less-faded-text: #9aa7b3;
    --color-faded-text: #7e8c9a;
    --color-more-faded-text: #303841;
    --color-dark-text: #131a20;
    --color-less-dark-text: #1f2a34;
    --color-brand-green: #3fa86a;
    --color-darker-brand-green: #1e3a2a;
    --color-brand-red: #b24a4a;
    --color-darker-brand-red: #3a1e1e;

    --background: var(--color-brand-gray);
    --foreground: var(--color-brand-white);
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.custom-input > input::placeholder {
    color: var(--color-faded-text);
    opacity: "50%";
}
.custom-input > textarea::placeholder {
    color: var(--color-faded-text);
    opacity: "50%";
}
.custom-input > .bottom-border .bottom-border-transition {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 200ms ease;
}
.custom-input:focus-within > .bottom-border .bottom-border-transition {
    transform: scaleX(1);
}
.custom-input .label {
    color: var(--color-faded-text);
    transition: color 200ms ease;
}
.custom-input:is(:hover, :focus-within) .label {
    color: var(--color-less-faded-text);
}

.custom-button {
    background-color: var(--color-brand-orange);
    color: var(--color-dark-text);
    transition: background-color 200ms ease, color 200ms ease;
}
.custom-button:hover {
    background-color: var(--color-darker-brand-orange);
    color: var(--color-less-dark-text);
}
